---
#
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

html {
  font-size: 10px !important; // change to whatever

  @include breakpoint($medium) {
    font-size: 12px !important; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 14px !important; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px !important; // change to whatever
  }
}

$max-width: calc(100vw - 250px);
